/* Outer Section Styles */
.outerSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Added padding for spacing around the section */
  box-sizing: border-box; /* Ensures padding is included in the width */
  background-color: #f5f5f5; /* Light background color for contrast */
}

/* Inner Section Styles */
.innerSection {
  margin-top: 30px;
  display: flex;
  justify-content: center; /* Center align items horizontally */
  align-items: center; /* Center align items vertically */
  width: 90%; /* Default width for larger screens */
}

/* Banner Image Styles */
.bannerImage {
  width: 100%;
  height: auto; /* Maintain aspect ratio of the image */
  max-height: 90px; /* Set a maximum height for the image */
  object-fit: cover; /* Ensure the image covers its container */
}

/* Responsive Styles */

/* For small screens */
@media only screen and (max-width: 600px) {
  .innerSection {
    flex-direction: column; /* Stack items vertically on small screens */
    width: 100%; /* Full width for smaller screens */
  }
  
  .bannerImage {
    width: 80%; /* Reduce width for smaller screens */
    max-height: 50px; /* Smaller maximum height for mobile */
  }
}

/* For medium screens */
@media only screen and (min-width: 601px) and (max-width: 1023px) {
  .innerSection {
    width: 80%; /* Adjust width for medium screens */
    /* No additional changes needed for bannerImage in this range */
  }
}
